<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

	<appender name="STDOUT-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg [%X{uri}]%n</pattern>
			</encoder>
		</appender>
	</appender>

	<appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>log:9998</destination>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
		<keepAliveDuration>1 minutes</keepAliveDuration>
	</appender>

	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.jboss" level="ERROR" />
	<logger name="com.zaxxer.hikari" level="ERROR" />

	<root level="INFO">
		<appender-ref ref="STDOUT-ASYNC" />
		<appender-ref ref="LOGSTASH" />
	</root>

</configuration>
